<footer class="footer">
  <nav>
  <small>
    Copyright© 2020 | Powered By: Juan Tate - s3751262@student.rmit.edu.au | Group 4 WED:6:30PM| Alex
  </small>
  <div>
    <span class="socials"><%= link_to "Facebook", "https://www.facebook.com/" %></span><span class="socials"><%= link_to "Twitter", "https://twitter.com/" %></span><span class="socials"><%= link_to "Linkedin", "https://linkedin.com/" %></span>
  </div>
  </nav>
</footer>