<header class="navbar navbar-fixed-top navbar-inverse">
<div class="container">
<%= link_to "Clock +", root_path, id: "logo" %>
<nav>
  <ul class="nav navbar-nav navbar-right">
    <li><%= link_to "Showcase",   root_path %></li>
    <li><%= mail_to "s3751262@student.rmit.edu.au", 'Contact Us' %></li>
  </ul>
</nav>
</div>
</header>